*{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html{
  height: 100%;
  background-color: paleturquoise;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

#logo{
  font-size: 64px;
  font-family:'Loma', 'Z003', Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-style: italic;
  filter: drop-shadow(4px 4px 2px white);
}
#calculator{
  width: fit-content;
  border-style: solid;
  border-color: #303030;
  border-width: 4px;
  border-radius: 4px;
  filter: drop-shadow(6px 6px 3px black);
  background-color: darkgray;
  padding: 6px;
}
#buttons{
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 12px;

}
#buttons > * > *{
  /*Selects the buttons*/
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  margin: 1px;
  filter: drop-shadow(1px 1px 4px #202020);
}
#buttons > * > *:active{
  filter: drop-shadow(2px 2px 2px #202020);
}

.num{
  border-color: blue;
  background-color: rgb(42, 250, 250);
}
#operators{
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.operator,
.function{
  border-color: red;
  background-color: orange;
}

#display{
  font-size: 32px;
  font-family: 'Uroob', sans-serif;
  padding: 16px;
  background-color: gray;
  text-align: right;
  display: flex;
  align-items: center;
  border-radius:15px;
  justify-content: flex-end;
  filter: drop-shadow(2px 2px 2px #202020);
}

#numbers{
  width: 126px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.selected{
  border: 3px;
  border-color: white;
}